@page { size: A4 }

body { width: 210mm; margin-left: auto; margin-right: auto; border: 0px #efefef solid; font-size: 11pt;}
table.invoice_bank_rekv { border-collapse: collapse; border: 1px solid; }
table.invoice_bank_rekv > tbody > tr > td, table.invoice_bank_rekv > tr > td { border: 1px solid; }
table.invoice_items { border: 1px solid; border-collapse: collapse;}
table.invoice_items td, table.invoice_items th { border: 1px solid;}